<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  
  <div id="content">
    <h1>It's A Mr. Stick Figure</h1>
    <p>
      Brunch scenester next level green juice messenger bag four dollar toast. Vice man bun fingerstache irony scenester, distillery hella wolf jean shorts pickled shaman. Church-key trust fund hoodie keffiyeh tumblr bitters vape, 3 wolf moon lomo chambray retro paleo. Hella health goth chicharrones bicycle rights, cliche chambray unicorn farm-to-table selfies authentic tumblr hell of. Microdosing unicorn squid fingerstache biodiesel
    </p>
  </div>
</div>